<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -想想食室</title>
    <!--品質良好的粉底、眼線還有假睫毛-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet" type="text/css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/custombar.css" rel="stylesheet" type="text/css" />
    <link href="/Content/style.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-custom navbar-fixed-top">
        <!--響應式功能列-->
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("想想食室", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("瀏覽商品", "AllProduct", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>

                    <li class="dropdown">
                        <a class="navbar-brand" data-toggle="dropdown" href="#">關於我們<span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("地圖資訊", "Introduction", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("找到我們", "Map", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("聯絡我們", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </li>
                 </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-brand">@Session["Welcome"]</li>
                    <li class="dropdown">
                        <a class="navbar-brand" data-toggle="dropdown" href="#">會員功能<span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("購物車", "ShoppingCart", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("我的訂單", "MyOrder", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("會員資料管理", "MemberCenter", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </li>
                    
                    <li>@Html.ActionLink("登出", "Signout", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>

            <ul class="nav navbar-nav navbar">
                <li>@Html.ActionLink("想想食室", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("瀏覽商品", "AllProduct", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-brand">@Session["Welcome"]</li>
                <li>@Html.ActionLink("購物車", "ShoppingCart", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("會員資料管理", "MemberCenter", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("登出", "Signout", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
            </ul>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <!--紅色高跟鞋-->
        <footer>
            <div id="copyrights">
                <div class="container">
                    <p>&copy; 今天日期: @DateTime.Now.Year - @DateTime.Now.Month - @DateTime.Now.Day</p>
                    <p>&copy; 雲端架構與應用期末作業</p>
                </div>
            </div>
        </footer>
    </div>
    <!--玻尿酸-->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>